.inner {
  height: rem(96);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: block;
  line-height: 1;
  padding: rem(8px) rem(12px);
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  font-size: var(--mantine-font-size-md);
  font-weight: 600;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #0f2f5b;

  @mixin hover {
    color: --var(--mantine-color-blue-6);
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-6)
    );
  }
}

.linkLabel {
  margin-right: rem(5px);
  font-size: medium;
}

.hoverUnderlineAnimation {
  display: inline-block;
  position: relative;
}

.hoverUnderlineAnimation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}

.hoverUnderlineAnimation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}
