.root {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.executiveSearchTitle {
  display: flex;
  padding: 0rem 5rem 0 15rem;
}

.executiveSearchDescription {
  background-color: #0f2f5b;
  padding: 4rem 10rem 4rem 10rem;
}

.veteransTitle {
  display: flex;
  border-radius: 0px 50% 50% 0px;
  padding: 0rem 15rem 0 5rem;
}

.veteransDescription {
  background-color: #bb2a2c;
  padding: 4rem 10rem 4rem 10rem;
}
