.articleDetails {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}
.articleTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 100%;
}
